@import "src/scss/styles.scss";

.wrapper {
  background-color: $grey-nurse;
  min-height: 100vh;
  @include leftRight(62.5px);

  & > .section {
    @extend %flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media only screen and (min-width: 768px) {
    & > .section > * {
      width: 27%;
    }
  }

  @media only screen and (max-width: 768px) {
    & > .section > * {
      width: 36%;
    }
  }
}
