$base-font-size: 16px;

// Typograpphy
$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1rem;
$size-6: 0.875rem;
$size-7: 0.75rem;

// Font Weights
$weight-normal: 400;

// Font
$font-family-roboto: 'Roboto', sans-serif;


$layout-navbar-height: 4rem;

$body-height: calc(100vh - #{$layout-navbar-height})