@import "./styles.scss";

html,
body,
button,
label,
div,
p,
h1,
h2,
h3,
h4,
span {
  font-family: $font-family-roboto;
}

h1 {
  font-size: $size-1;
}

h2 {
  font-size: $size-2;
}

h3 {
  font-size: $size-3;
}

h4 {
  font-size: $size-4;
}

h5 {
  font-size: $size-5;
}

h6 {
  font-size: $size-6;
}

p {
  font-size: $size-7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  background-color: $desert-storm;
  min-height: $body-height;
}

a {
  color: inherit;
  text-decoration: none;
}

article,
div,
section {
  box-sizing: border-box;
}

p,
a,
b,
strong {
  line-height: 1;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  backdrop-filter: blur(3px);
  background-color: $pumice;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}